header {
    text-align: center
}

body {
    background-color: #000000;
    font-size: 23px;
    color: #ffffff;
}

aside {
    float: right;
    width: 25%;
    height: auto;
    border: 2px solid white;
    padding: 1%;
    margin: auto 2%;
    margin-bottom: 3%;
}

a:link {
    color: #2E82B3;
}

a:visited {
    color: #F08221;
}

a:active {
    color: #C728F7;
}

p.SidebarHeader {
    font-size: 5;
    color: orange;
    font-family: "Lucida Console", sans-serif;
    text-align: center;
}

p.RecipeDescription {
    padding-left: 10%;
    padding-right: 10%;
}

article.SidebarText {
    font-family: Lucida Console;
    font-size: 20px;
    text-align: left;
}

h3 {
    text-align: center
}

ul,
ol {
    padding-left: 15%;
}

ul.CircleType {
    list-style-type: circle;
}

ul.DiscType {
    list-style-type: disc;
}

ul.SquareType {
    list-style-type: square;
}